@media (max-width: 1200px) {
    .start__reasons-text{
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
}

@media (max-width: 650px) {
    .start__img{
        width: 300px;
        height: 300px;
    }
}

@media (max-width: 465px) {
    .traffic__img{
        width: 300px;
        height: 300px;
    }
}

@media (max-width: 820px) {
    .img__width{
        height: 300px;
    }
}

@media (max-width: 670px) {
    .img__width{
        height: 200px;
    }
}
